.uni-node-content:after, .uni-node-content:before, .uni-module:after, .uni-module:before {
    display: table;
    white-space: normal;
    clear: both;
    content: "";
}

.uni-row-content-wrap {
    margin-left: auto;
    margin-right: auto;
}

.uni-hidden {
    visibility: hidden !important;
}

.uni-builderius-container {
    width: 100%;
}

/* Module */
.uni-module {
    position: relative;
}

.uni-module.uni-module-empty {
    position: relative;
    min-height: 28px;
    background-color: #efefef;
    border-radius: 2px;
}

.uni-module.uni-module-empty:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 16px;
    margin: -8px 0 0 -2px;
    background: url(../images/sprite.svg) no-repeat -100px -310px transparent;
    content: "";
}

.uni-module .uni_cpo_field_required {
    margin-right: 4px;
}

.uni-module .uni_cpo_field_required:after {
    position: relative;
    top: -4px;
    color: #f75555;
    font-size: 16px;
    content: "*"
}

/* Module: text */
.uni-module-text {
    white-space: pre-wrap;
}

/* Module: radio */
.uni-cpo-radio-resetbutton {
    clear: both
}
.uni-module-radio input[type="radio"],
.uni-module-checkbox input[type="checkbox"] {
    display: none;
}

.uni-module-radio label,
.uni-module-checkbox label {
    cursor: pointer;
    display: block !important;
}
.uni-module-radio label.uni-cpo-option-label,
.uni-module-checkbox label.uni-cpo-option-label {
    margin-left: 0;
}

.uni-module-radio label.uni-cpo-module-radio-label,
.uni-module-checkbox label.uni-cpo-module-checkbox-label {
    margin-bottom: 6px;
}

.uni-module-radio label .uni-cpo-option-label__text,
.uni-module-checkbox label .uni-cpo-option-label__text {
    vertical-align: top;
}
.uni-module-radio label .uni-cpo-option-label__image,
.uni-module-checkbox label .uni-cpo-option-label__image {
    pointer-events: none;
    position: relative;
}
.uni-module-radio label .uni-cpo-option-label__image,
.uni-module-radio label .uni-cpo-option-label__colour-wrap,
.uni-module-radio label .uni-cpo-option-label__colour,
.uni-module-radio label .uni-cpo-option-label__image-wrap,
.uni-module-radio label .uni-cpo-option-label__text-content,
.uni-module-checkbox label .uni-cpo-option-label__image,
.uni-module-checkbox label .uni-cpo-option-label__colour-wrap,
.uni-module-checkbox label .uni-cpo-option-label__colour,
.uni-module-checkbox label .uni-cpo-option-label__image-wrap,
.uni-module-checkbox label .uni-cpo-option-label__text-content {
    display: block;
}

/* Classic */
.uni-module-radio.uni-module-radio-classic-mode label.uni-cpo-option-label,
.uni-module-checkbox.uni-module-checkbox-classic-mode label.uni-cpo-option-label {
    line-height: 20px;
    margin: 0 0 6px 0;
}

.uni-module-radio label .uni-cpo-option-label__text + .uni-cpo-option-label__image,
.uni-module-checkbox label .uni-cpo-option-label__text + .uni-cpo-option-label__image {
    margin-left: 10px;
}

.uni-module-radio input:checked + .uni-cpo-radio-option-label .uni-cpo-option-label__radio:after {
    background-color: #333;
}

.uni-module-checkbox input:checked + .uni-cpo-checkbox-option-label .uni-cpo-option-label__checkbox {
    background: url(../images/sprite.svg) no-repeat -80px -310px #ffffff;
}

.uni-module-radio .uni-cpo-option-label__radio,
.uni-module-checkbox .uni-cpo-option-label__checkbox {
    position: relative;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 4px 0 0;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    border-radius: 100%;
}

.uni-module-radio .uni-cpo-option-label__radio:after {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    content: "";
}

.uni-module-checkbox .uni-cpo-option-label__checkbox {
    border-radius: 2px;
}

/* Colour & Image */
.uni-module-radio:not(.uni-module-radio-classic-mode) label.uni-cpo-option-label,
.uni-module-checkbox:not(.uni-module-checkbox-classic-mode) label.uni-cpo-option-label {
    display: block;
    float: left;
}

.uni-module-radio.uni-module-radio-colour-mode label.uni-cpo-option-label .uni-cpo-option-label__colour-wrap,
.uni-module-radio.uni-module-radio-image-mode label.uni-cpo-option-label .uni-cpo-option-label__image-wrap,
.uni-module-radio.uni-module-radio-text-mode label.uni-cpo-option-label .uni-cpo-option-label__text-content,
.uni-module-checkbox.uni-module-checkbox-colour-mode label.uni-cpo-option-label .uni-cpo-option-label__colour-wrap,
.uni-module-checkbox.uni-module-checkbox-image-mode label.uni-cpo-option-label .uni-cpo-option-label__image-wrap,
.uni-module-checkbox.uni-module-checkbox-text-mode label.uni-cpo-option-label .uni-cpo-option-label__text-content {
    border-style: solid;
}

.uni-module-radio:not(.uni-module-radio-classic-mode) label.uni-cpo-option-label:last-child,
.uni-module-checkbox:not(.uni-module-checkbox-classic-mode) label.uni-cpo-option-label:last-child {
    margin-right: 0;
}

.uni-module-radio label.uni-cpo-option-label .uni-cpo-option-label__colour-wrap,
.uni-module-checkbox label.uni-cpo-option-label .uni-cpo-option-label__colour-wrap {
    border-color: transparent !important;
}

.uni-cpo-option-label__colour-wrap, .uni-cpo-option-label__image-wrap, .uni-cpo-option-label__text-content {
    -webkit-transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    -moz-transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    -o-transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}

.uni-module-radio.uni-module-radio-image-mode label.uni-cpo-option-label .uni-cpo-option-label__image-wrap,
.uni-module-checkbox.uni-module-checkbox-image-mode label.uni-cpo-option-label .uni-cpo-option-label__image-wrap {
    overflow: hidden;
}

/* Text */
.uni-module-radio label .uni-cpo-option-label__text-content,
.uni-module-checkbox label .uni-cpo-option-label__text-content {
    white-space: nowrap;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* Module: select */
.uni-module-select select {
    padding: 0 30px 0 6px !important;
    background: url(../images/arrow-gray.svg) no-repeat right center #fff!important;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Module: file upload */
.uni-module-file_upload {
    min-width: 192px;
}

/*.uni-module-file_upload div.moxie-shim {z-index: 2!important;}*/
.uni-cpo-module-file_upload-label {
    display: block;
}

.uni-cpo-file-upload-choose-btn {
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.uni-cpo-file-upload-choose-btn i {
    margin-right: 6px;
}

.uni-cpo-file-upload-files {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.uni-cpo-file-upload-files-item {
    position: relative;
    height: 26px;
    padding: 0 64px 0 28px;
    margin: 0 0 4px 0 !important;
}

.uni-cpo-file-upload-files-item:last-child {
    margin-bottom: 0 !important;
}

.uni-cpo-file-upload-files-item-icon {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 26px;
    background: url(../images/sprite.svg) no-repeat -25px -310px transparent;
}

.uni-cpo-file-upload-files-item-title {
    display: block;
    width: 100%;
    min-width: 100px;
    line-height: 26px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.uni-cpo-file-upload-files-item-uploaded,
.uni-cpo-file-upload-files-item-upload,
.uni-cpo-file-upload-files-item-remove {
    position: absolute;
    right: 24px;
    top: 1px;
    width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background: url(../images/sprite.svg) no-repeat 0 -335px transparent !important;
    outline: 0 !important;
}

.uni-cpo-file-upload-files-item-remove {
    right: 0;
    background-position: 0 -310px !important;
}

.uni-cpo-file-upload-files-item-uploaded {
    display: none;
    background-position: -50px -310px !important;
}

.uni-cpo-file-upload-files-item-progress {
    position: absolute;
    display: block;
    left: 28px;
    bottom: 0;
    width: calc(100% - 92px);
    height: 2px;
    background-color: #e5e5e5;
}

.uni-cpo-file-upload-files-item-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #3bc5b6;
}

/* Module: button */
.uni-module-button {
    display: inline-block;
}

/* Module: textarea */
.uni-module-text_area textarea {
    box-shadow: none;
}

/* Module: text input */
.uni-module-text_input input {
    background: #fff !important;
    box-shadow: none !important;
}

/* Module: datepicker */
.uni-module-datepicker input {
    width: 100%;
    background-color: #fff !important;
    box-shadow: none !important;
}

.uni-module-datepicker-input-wrap {
    display: inline-block;
    position: relative;
}

.uni-module-datepicker-input-wrap i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Module: range slider */
.uni-module-range_slider input:not(.js-uni-cpo-field-range_slider-additional-field) {
    display: none !important;
}

.uni-module-range_slider:not(.uni-range-slider-skin-simple):not(.uni-range-slider-skin-html5) .irs-bar-edge {
    border-radius: 3px 0 0 3px;
}

.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.from,
.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.to,
.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.single {
    background: transparent;
}

.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.from:before,
.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.to:before,
.uni-module-range_slider.uni-range-slider-skin-flat .irs-slider.single:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
}

.uni-module-range_slider.uni-range-slider-skin-modern .irs-bar,
.uni-module-range_slider.uni-range-slider-skin-modern .irs-bar-edge {
    height: 5px;
}

.uni-module-range_slider.uni-range-slider-skin-nice .irs-bar,
.uni-module-range_slider.uni-range-slider-skin-nice .irs-bar-edge {
    height: 6px;
    top: 26px
}

.uni-module-range_slider.uni-range-slider-skin-nice .irs-slider.from:before,
.uni-module-range_slider.uni-range-slider-skin-nice .irs-slider.to:before,
.uni-module-range_slider.uni-range-slider-skin-nice .irs-slider.single:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    content: "";
    z-index: 1;
    border-radius: 100%;
}

input.js-uni-cpo-field-range_slider-additional-field[type="text"] {
    width: 100px;
    height: 36px;
    margin: 10px 0 0 0;
    padding: 0 14px;
    border: 1px solid #d7d7d7;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
}

input.js-uni-cpo-field-range_slider-additional-field[type="text"]:focus {
    background-color: transparent;
}

/* Module: matrix */
.uni-module-matrix table {
    margin: 0;
}

.uni-module-matrix table td.uni-cell-with-span {
    padding: 0 !important;
}

.uni-module-matrix table td span {
    display: block;
    cursor: pointer;
}

/* Module: google map */
.uni-cpo-map-option-input {
    width: 100%;
    height: 36px;
    margin-top: 15px;
    background-color: #ffffff!important;
    box-shadow: none !important;
}

/* Parsley validation */
.uni-builderius-container .parsley-errors-list {
    position: absolute !important;
    display: block !important;
    right: 0 !important;
    min-width: 100px;
    line-height: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    list-style: none !important;
    z-index: 2 !important;
    clear: both !important;
    opacity: 0;
}

.uni-builderius-container .parsley-errors-list li {
    margin: 0 !important;
    padding: 1px 6px 2px !important;
    line-height: 16px;
    background-color: #f75555 !important;
    color: #fff !important;
    font-size: 12px !important;
}

.uni-builderius-container .parsley-errors-list:empty {
    display: none !important;
}

input.parsley-error, textarea.parsley-error, select.parsley-error, div.parsley-error label span.uni-cpo-option-label__radio, div.parsley-error label span.uni-cpo-option-label__checkbox {
    border-color: #f75555;
}

/* Tooltip */
.uni-cpo-tooltip {
    position: relative;
    display: inline-block;
    top: 1px;
    left: 2px;
    width: 16px;
    height: 14px;
    background: url(../images/sprite.svg) no-repeat -340px -190px transparent;
    cursor: pointer;
}
.uni-cpo-tooltip:focus, .uni-cpo-tooltip:active {outline: 0;}

.ui-tooltip {
    box-shadow: none;
    line-height: 20px;
    padding: 5px 10px !important;
    border: 0 !important;
    background: #333 !important;
    color: #fff !important;
    font-size: 12px !important;
    z-index: 999999;
    border-radius: 2px !important;
}

.ui-tooltip-content {
    position: relative;
}

.ui-tooltip-content::after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
}

.vertical-bottom .ui-tooltip-content::after {
    bottom: -11px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}

.vertical-top .ui-tooltip-content::after {
    top: -10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #333;
}

.vertical-bottom.horizontal-left .ui-tooltip-content::after, .vertical-top.horizontal-left .ui-tooltip-content::after {
    left: -3px;
}

.vertical-bottom.horizontal-center .ui-tooltip-content::after, .vertical-top.horizontal-center .ui-tooltip-content::after {
    left: 50%;
    margin-left: -6px;
}

.vertical-bottom.horizontal-right .ui-tooltip-content::after, .vertical-top.horizontal-right .ui-tooltip-content::after {
    right: -3px;
}

.vertical-middle.horizontal-left .ui-tooltip-content::after {
    left: -16px;
    top: 50%;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #333;
}

.vertical-middle.horizontal-right .ui-tooltip-content::after {
    right: -16px;
    top: 50%;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #333;
}

/* Flatpickr calendar */
.flatpickr-current-month input.cur-year {
    border-color: transparent !important;
    box-shadow: none;
}

.flatpickr-current-month .numInputWrapper:hover, .flatpickr-current-month span.cur-month:hover {
    background: transparent;
}

span.flatpickr-weekday {
    font-size: 12px !important;
}

.flatpickr-day {
    line-height: 35px !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.flatpickr-day:hover {
    color: #fff;
}

.flatpickr-calendar.open {
    z-index: 99999;
}

/* RTL */
.rtl .uni-module-select select {
    background-position: left center!important;
    padding: 0 6px 0 30px !important;
}

.rtl .uni-module-radio:not(.uni-module-radio-classic-mode) label.uni-cpo-option-label,
.rtl .uni-module-checkbox:not(.uni-module-checkbox-classic-mode) label.uni-cpo-option-label {
    float: right;
}

.rtl .uni-module-radio .uni-cpo-option-label__radio,
.rtl .uni-module-checkbox .uni-cpo-option-label__checkbox {
    float: right;
    margin-left: 4px;
    margin-right: 0;
}

/* layered image */
.uni_cpo_main_image_layered_image {
    background-color: #ffffff;
    position: relative;
}

.uni_cpo_main_image_layered_image::after {
}

.uni_cpo_main_image_layered_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.uni_cpo_main_image_layered_image div.uni_cpo_main_image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

.uni_cpo_main_image_layered_image div.uni_cpo_main_image_overlay p {
    display: inline-block;
    float: left;
    margin: 15px 0 0 10px;
    color: #fff;
    font-size: 13px;
    max-width: 50%;
}

.twentyseventeen .uni_cpo_main_image_layered_image div.uni_cpo_main_image_overlay p {
    margin: 15px 0 0 20px;
}

.uni_cpo_main_image_layered_image div.uni_cpo_main_image_overlay .wp-picker-container {
    float: left;
    margin: 9px 0 0 10px;
    width: 200px;
}
div.uni_cpo_main_image_overlay .wp-picker-container .button.wp-picker-clear {
    left: 60px;
    top: -32px;
    right: auto;
}

.uni_cpo_imagify_enabled .flex-control-thumbs li:last-child,
.uni_cpo_colorify_enabled .flex-control-thumbs li:last-child {
    background-color: transparent;
    background-image: url(../images/palette.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid #edf1ff;
}
.uni_cpo_imagify_enabled .flex-control-thumbs li:last-child {
    background-image: url(../images/imagify-icon.svg);
    background-size: 60%;
}

.wp-color-picker {
    width: 80px
}

.wp-picker-container .hidden, .wp-picker-container .wp-color-result-text {
    display: none !important;
}
.wp-picker-container .button.wp-picker-clear {
    position: absolute;
    right: 0;
    top: -28px;
    height: 25px;
    width: 25px;
    padding: 0;
    border: 0;
    margin: 0!important;
    background: url(../images/sprite.svg) no-repeat 0 -170px #e8eaef!important;
    text-indent: -999999px;
    overflow: hidden;
    vertical-align: top;
    border-radius: 3px;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

.wp-picker-container .wp-color-result.button {
    height: 32px!important;
    width: 50px!important;
    margin: 0!important;
    box-shadow: none!important;
    padding: 0!important;
    background-color: #eeeeee;
    border: 1px solid #e5e5e5!important;
    border-radius: 3px!important;
}

.wp-color-result:focus, .wp-color-result:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d
}

.wp-color-result:focus:after, .wp-color-result:hover:after {
    color: #23282d;
    border-color: #a0a5aa;
    border-left: 1px solid #999
}

.wp-picker-containers {
    display: inline-block
}

.wp-color-result:focus {
    border-color: #5b9dd9;
    box-shadow: 0 0 3px rgba(0, 115, 170, .8)
}

.wp-color-result:active {
    -webkit-transform: none !important;
    transform: none !important
}

.uni_cpo_main_image_overlay .wp-picker-input-wrap {
    position: relative;
}
.wp-picker-input-wrap label, .wp-picker-open + .wp-picker-input-wrap {
    display: inline-block;
    vertical-align: top
}

.form-table .wp-picker-input-wrap label {
    margin: 0 !important
}

.wp-customizer .wp-picker-input-wrap .button, .wp-picker-input-wrap .button {
    margin-left: 6px
}

.wp-picker-container .iris-square-slider .ui-slider-handle:focus {
    background-color: #555
}

.wp-picker-container .iris-picker {
    border-radius: 0;
    border-color: #ddd;
    margin-top: 9px
}

.wp-picker-container input[type=text].wp-color-picker {
    width: 65px;
    font-size: 12px;
    font-family: monospace;
    line-height: 16px;
    margin: 0;
    vertical-align: top
}

.wp-color-picker::-webkit-input-placeholder {
    color: #72777c
}

.wp-color-picker::-moz-placeholder {
    color: #72777c;
    opacity: 1
}

.wp-color-picker:-ms-input-placeholder {
    color: #72777c
}

.wp-picker-container input[type=text].iris-error {
    background-color: #ffebe8;
    border-color: #c00;
    color: #000
}

.iris-picker .iris-strip .ui-slider-handle:focus, .iris-picker .ui-square-handle:focus {
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8)
}

.iris-picker .iris-palette:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .4), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8)
}

.uni_cpo_main_image_overlay .wp-picker-container .iris-strip .ui-slider-handle {top: auto;}
.uni_cpo_main_image_overlay .wp-picker-container .iris-strip .ui-slider-handle:before {background-color: transparent;width: auto;height: auto;content: "";}
.uni_cpo_main_image_overlay .wp-picker-container .iris-strip .ui-slider-handle:after {display: none;}

.woocommerce-mini-cart-item .uni-cpo-cart-action {display:none;}

@media screen and (max-width: 782px) {
    .wp-picker-container input[type=text].wp-color-picker {
        width: 80px;
        padding: 6px 5px 5px;
        font-size: 16px;
        line-height: 18px
    }

    .wp-customizer .wp-picker-container input[type=text].wp-color-picker {
        padding: 5px 5px 4px
    }

    .wp-picker-container .wp-color-result.button {
        height: auto;
        padding: 0 0 0 40px;
        font-size: 14px;
        line-height: 29px
    }

    .wp-customizer .wp-picker-container .wp-color-result.button {
        font-size: 13px;
        line-height: 26px
    }

    .wp-picker-container .wp-color-result-text {
        padding: 0 14px;
        font-size: inherit;
        line-height: inherit
    }

    .wp-customizer .wp-picker-container .wp-color-result-text {
        padding: 0 10px
    }
}

@media screen and (max-width: 640px) {
    .wp-customizer .wp-picker-container .wp-color-result.button {
        font-size: 14px;
        line-height: 29px
    }

    .wp-customizer .wp-picker-container input[type=text].wp-color-picker {
        padding: 6px 5px
    }
}

.uni_cpo_main_image_layered_image img:first-child {
    position: relative;
}

.product-thumbnails .cpo-layered-thumb {
    position: relative;
    height: 100%;
    background-color: rgba(44, 180, 185, 0.48);
}

.product-thumbnails .cpo-layered-thumb::before {
    display: block;
    position: absolute;
    top: 4%;
    left: 12%;
    content: '\f1fc';
    color: #ca3b6f;
    font-family: FontAwesome;
    font-size: 1.4em;
}
